<div class="xitomatl-card mdl-card mdl-shadow--4dp">
  
  {{!--
  TODO: Add a customizable image to the card
  TODO: Add a customizable background to the card
  TODO: Add a customizable background color to the container-fluid
   --}}

   <div class="mdl-card__title mdl-card--expand">
     <h2 class="mdl-card__title-text">Semana 1 Febrero</h2>
   </div>
    
  <div class="mdl-card__supporting-text">
    Pasear a chowie
  </div>
  <div class="mdl-card__supporting-text">
    Hacer codigo
  </div>
  <div class="mdl-card__supporting-text">
    Cocinar
  </div>
  <div class="mdl-card__supporting-text">
    No acabarme la comida
  </div>
  
  {{!-- TODO: Align to the right --}}
    <div class="mdl-card__actions mdl-card--border">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">remove</i>
      </button>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">alarm-add</i>
      </button>

    </div>
</div>
{{yield}}
