{{!-- The following component displays Ember's default welcome message. --}}
{{outlet}}


<h1>Bienvenido a xitomatl - Una herramienta para medir tu productividad </h1>


{{!-- <!-- Accent-colored raised button with ripple -->
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
  Button
</button>
<!-- Colored FAB button -->
<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">add</i>
</button> --}}

{{ xitomatl-task-card }}
