<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Features</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>{{#link-to "index"}}About{{/link-to}}</li>
        <li>{{#link-to "index"}}Terms{{/link-to}}</li>
        <li>{{#link-to "index"}}Partners{{/link-to}}</li>
        <li>{{#link-to "index"}}Updates{{/link-to}}</li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Details</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>{{#link-to "index" }}Specs{{/link-to}}</li>
        <li>{{#link-to "index"}}Tools{{/link-to}}</li>
        <li>{{#link-to "index"}}Resources{{/link-to}}</li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Technology</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>{{#link-to "index"}}Developers{{/link-to}}</li>
        <li>{{#link-to "index"}}Usage{{/link-to}}</li>
        <li>{{#link-to "index"}}Products{{/link-to}}</li>
        <li>{{#link-to "index"}}Contracts{{/link-to}}</li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">FAQ</h1>
      <ul class="mdl-mega-footer__link-list">
        <li>{{#link-to "index"}}Questions{{/link-to}}</li>
        <li>{{#link-to "index"}}Answers{{/link-to}}</li>
        <li>{{#link-to "index"}}Contact us{{/link-to}}</li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">Title</div>
    <ul class="mdl-mega-footer__link-list">
      <li>{{#link-to "index"}}Help{{/link-to}}</li>
      <li>{{#link-to "index"}}Privacy & Terms{{/link-to}}</li>
    </ul>
  </div>

</footer>
